{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Doto:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@500;700&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/core/styles.css">
        <title>{% block title %}SOC Toolkit{% endblock %}</title>
        {% block styling %}{% endblock %}
        {% vite_hmr_client %}
        {%  block vite_asset %}{% endblock %}
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
        {% block script %}{% endblock %}
    </body>
</html>