{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <h1>Welcome to the SOC Analyst Toolkit</h1>
        <p>Select a tool to get started</p>

        <ul>
            <li><a href="{% url 'port_scanner' %}">Port Scanner</a></li>
            <li><a href="{% url 'ip_reputation' %}">IP Reputation Checker</a></li>
            <li><a href="{% url 'log_analyzer' %}">Log Analyzer</a></li>
            <li><a href="#">Live Monitor</a></li>
        </ul>
    </div>
{% endblock %}