{% extends "core/base.html" %}

{% block title %}Log Analyzer{% endblock %}

{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="file">Upload log file to analyze: </label>
            <input id="file" name="file" type="file" accept=".log">
            <button type="submit">Submit</button>
        </form>
    </div>

    {% if results %}
        <div>
            <h2>Analysis Complete: {{ total }} Potential Malicious Alerts Found</h2>
            {% for result in results %}
                <p>{{ result.line }}</p>
                {% for ip in result.malicious_ips %}
                    <p>{{ ip.ip_address }} reported malicious by AbuseIPDB</p>
                    <p>Abuse Score: {{ ip.abuse_confidence_score }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        <p>{{ results }}</p>
    {% endif %}
{% endblock %}