{% extends "core/base.html" %}

{% block title %}Log Analyzer{% endblock %}

{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="file">Upload log file to analyze: </label>
            <input id="file" name="file" type="file" accept=".log">
            <button type="submit">Submit</button>
        </form>
    </div>

    {% if results %}
        <div>
            <h2>Analysis Complete: {{ total }} Potential Malicious Alerts Found</h2>
            {% for result in results %}
                <h3>{{ result.ip }} reported potentially malicious</h3>
                <ul>
                    <li>Abuse Score: {{ result.data.abuse_confidence_score }}</li>
                    <li>Country Code: {{ result.data.country_code }}</li>
                    <li>ISP: {{ result.data.isp }}</li>
                    <li>Last Reported: {{ result.data.last_reported_at }}</li>
                </ul>
                <p>Found in log {{ result.seen }} times at:</p>
                {% for line in result.lines %}
                    <p>{{ line }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}