{% extends "core/base.html" %}

{% block title %}Port Scanner{% endblock %}

{% block content %}
    <div>
        <h1>Port Scanner</h1>

        <p>Legal test scan targets: 127.0.0.1 or scanme.nmap.org</p>
        <form method="POST">
        {% csrf_token %}

            <div>
              <label for="target">Target IP or Hostname:</label>
              <input type="text" id="target" name="target" required/>
            </div>

            <div>
              <label for="port_range">Port Range (e.g. 1-1024):</label>
              <input type="text" id="port_range" name="port_range" placeholder="Optional"/>
            </div>

            <div>
              <button type="submit">
                Scan
              </button>
            </div>
        </form>

        {% if results %}
            <div>
                <h2>Scan Results</h2>
                <ul>
                {% for port in results %}
                    <li>
                        Port {{ port }}: Open
                    </li>
                {% endfor %}
                </ul>
                <p>Time elapsed: {{ status.seconds }} seconds</p>
            </div>
        {% elif error %}
            <p>{{ error }}</p>
        {% elif request.method == "POST" %}
            <p>No open ports found in the selected range.</p>
        {% endif %}
    </div>
{% endblock %}