* {
    box-sizing: border-box;
}

body, html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100dvw;
    background-color: #000;
    font-family: "Google Sans", sans-serif;
}

main {
    position: relative;
    height: 100%;
}

/* HOME PAGE STYLING */
#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, transparent, #2f5e09);
    pointer-events: none;
}

.fade-overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, transparent, #000);
    pointer-events: none;
}

.fade-overlay-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, transparent, #2f5e09);
    pointer-events: none;
}

.navigation {
    position: relative;
    width: 80%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-family: "Google Sans", sans-serif;
    color: #fff;
    background-color: #000;
    border: 2px solid rgba(249, 249, 249, 0.3);
    border-radius: 20px;
    margin: 1rem auto 0;
    z-index: 10;
    transition: .25s ease-in-out;
}

.navigation:hover {
    border: 2px solid rgba(249, 249, 249, 0.7);
}


.navigation > div {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.navigation > div > h1 {
    font-size: 2.5rem;
}

.site-link {
    text-decoration: none;
}

.site-link:hover {
    text-decoration: none;
}

.site-link:visited {
    color: #fff;
}

.navigation-links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: "Google Sans", sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
}

.navigation-links > li > a {
    color: #fff;
    text-decoration: none;
}

.divider::after {
    content: "/";
    color: rgba(255, 255, 255, 0.3);
    margin-left: 1.5rem;
}

.divider:hover::after {
    content: "/";
    color: rgba(255, 255, 255, .6);
    margin-left: 1.5rem;
}

.navigation-links > li > a:hover {
    opacity: 50%;
}

.navigation-links > li > a:visited {
    color: #fff;
}

h2 {
    color: #f9f9f9;
}


/* Glass Background */
.glass3d {
  --filter-glass3d: blur(5px) brightness(.8) saturate(3);
  --color-glass3d: hsla(197, 48%, 88%, 0.075);
  --noise-glass3d: url("https://www.transparenttextures.com/patterns/egg-shell.png");

  position: relative;
  z-index: 4;
  box-shadow:
    0 0 0.75px hsl(205 20% 10% / 0.2),
    0.7px 0.8px 1.2px -0.4px hsl(205 20% 10% / 0.1),
    1.3px 1.5px 2.2px -0.8px hsl(205 20% 10% / 0.1),
    2.3px 2.6px 3.9px -1.2px hsl(205 20% 10% / 0.1),
    3.9px 4.4px 6.6px -1.7px hsl(205 20% 10% / 0.1),
    6.5px 7.2px 10.9px -2.1px hsl(205 20% 10% / 0.1),
    8px 9px 14px -2.5px hsl(205 20% 10% / 0.2);
}

.glass3d::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  z-index: 3;

  -webkit-backdrop-filter: var(--filter-glass3d);
  backdrop-filter: var(--filter-glass3d);
  background-color: var(--color-glass3d);
  background-image: var(--noise-glass3d);
  background-size: 100px;
  background-repeat: repeat;
}

.glass3d::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  z-index: 5;

  box-shadow:
    inset 2px 2px 1px -3px hsl(205 20% 90% / 0.8),
    inset 4px 4px 2px -6px hsl(205 20% 90% / 0.3),
    inset 1.5px 1.5px 1.5px -0.75px hsl(205 20% 90% / 0.15),
    inset 1.5px 1.5px 0.25px hsl(205 20% 90% / 0.03),
    inset 0 0 0.25px 0.5px hsl(205 20% 90% / 0.03);
}

.glass3d > * {
  position: relative;
  z-index: 6;
}

/* Hero */
.hero-cta {
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50%;
    width: 80%;
    border-radius: 40px;
    color: #fff;
    font-family: "Google Sans", sans-serif;
    font-size: clamp(2.5rem, 4vw, 5rem);
    z-index: 100;
    cursor: default;
}

.hero-cta > h2 > span {
    margin: 0 1.5rem;
}

.hero-cta > p {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 2px;
}


/* Content */
.content {
    display: flex;
    justify-content: center;
    gap: 50px;
    background: #2f5e09;
    color: #fff;
    text-align: center;
    padding: 15rem 10rem;
}

.news-container {
    width: 50%;
    height: 500px;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "Google Sans", sans-serif;
    font-size: 2rem;
    padding: 2rem;
}

.graphic-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "Google Sans", sans-serif;
    font-size: 2rem;
    padding: 2rem;
}

/* Footer transition */
.footer-transition {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}


/* BACKGROUND STYLING */
.background-wrapper {
    position: relative;
    min-height: 100%;
}


/* ARTICLES STYLING */
.articles-dashboard {
    position: relative;
    display: flex;
    gap: 10px;
    min-height: 80%;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Articles Sidebar Styling */
.sidebar {
    position: relative;
    width: 20%;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #d6d6d4;
    z-index: 10;
}

.sidebar > h3 {
    font-size: 2.5rem;
    margin: 0;
}

#categories-container > h4, #difficulties-container > h4, #read-time-container > h4 {
    font-size: 1rem;
    margin: .5rem 0;
    padding: 0;
}

.dropdown-content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows .5s ease;
    cursor: pointer;
}

.dropdown-content.open {
    grid-template-rows: 1fr;
}

.dropdown {
    min-height: 0; /* Important for grid animation */
}

.options-list {
    margin: 0;
    padding: 0 0 0 1rem;
}

.option {
    position: relative;
    list-style: none;
    margin-bottom: .5rem;
    z-index: 2;
    transition: .5s ease-in-out;
}

.option > a {
    color: rgba(214, 214, 212, 0.5);
    text-decoration: none;
    transition: .5s ease-in-out;
}

.option > a:visited {
    color: rgba(214, 214, 212, 0.5);
}

.option > a:hover {
    text-decoration: none;
}

.option::before {
    content: "";
    position: absolute;
    left: -5px;
    background-color: #d6d6d4;
    width: 0;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
    transition: .5s ease-in-out;
}

.option:hover::before {
    width: 100%;
}

.option:hover > a {
    color: #000;
}

.reset-link {
    width: 100%;
    text-decoration: none;
    color: #000;
}

.clear-filters {
    width: 100%;
    background-color: #d6d6d4;
    border: none;
    border-radius: 20px;
    padding: .25rem .5rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.clear-filters:hover, .search-btn:hover {
    background-color: #5c7a4d;
    color: #d6d6d4;
}

/* Articles Styling */
.card-wrapper {
    position: relative;
    height: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background-color: #5c7a4d;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
}

.border-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #5c7a4d;
}

.card-wrapper > a {
    width: 20%;
    text-decoration: none;
}

.card-wrapper > a:visited {
    color: #000;
}

.card-wrapper > a:hover {
    text-decoration: none;
}

.article-card {
    flex-grow: 1;
    height: 300px;
    padding: 1rem;
    border-right: 1px dashed #000;
    border-bottom: 1px dashed #000;
    overflow: hidden;
}

.article-card > p {
    margin: 0;
    padding: 1rem 0;
}

.card-details {
    opacity: .7;
    margin-bottom: 1rem;
    text-wrap: nowrap;
}

.card-details > p {
   margin: 0;
}

.card-img-wrapper {
    position: relative;
    width: 100%;
    height: 35%;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}

.black-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 10;
    transition: .5s;
}

.opacity-90 {
    opacity: .95;
}

.card-img-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grow {
    height: 88%;
}

.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #d6d6d4;
    border-radius: 20px;
    width: 80%;
    max-width: 1300px;
    margin: 10px auto 0;
    padding: .5rem;
    z-index: 20;
}

/* Articles Titlebar Styling */
.title-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem 1rem 1rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #d6d6d4;
    z-index: 20;
}

/* Searchbar styling */
.search-container {
    position: relative;
    z-index: 1;
}

#search-input {
    background-color: rgba(255, 255, 255, 0.3);
    color: #d6d6d4;
    padding: .25rem .5rem;
    border: none;
    border-radius: 20px;
}

#search-input:focus {
    outline: 2px solid #d6d6d4;
}

#search-input:hover {
    outline: 2px solid #d6d6d4;
}

.search-btn {
    background-color: #d6d6d4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.search-suggestions {
    position: absolute;
    right: -16px;
    top: 30px;
    display: grid;
    grid-template-rows: 0fr;
    cursor: pointer;
    width: 450px;
    background-color: #000;
    color: #d6d6d4;
    padding: 1rem;
    border-radius: 20px;
    z-index: 2;
    transition: .5s ease;
    overflow: hidden;
}

.search-suggestions.open {
    grid-template-rows: 1fr;
}

.search-suggestions.hide {
    height: 0;
    opacity: 0;
}

.suggestions-list {
    padding: 0;
}

.suggestion-item {
    list-style: none;
    padding-bottom: .5rem;
    border-bottom: 1px dashed #d6d6d4;
    margin-bottom: .5rem;
}

.suggestion-item:last-of-type {
    border-bottom: none;
}

.suggestion-item > a {
    text-decoration: none;
    color: rgb(214, 214, 212);
    font-size: 1rem;
}

.suggestion-item > a:visited {
    color: rgba(214, 214, 212, 0.5);
}

/* Article Detail Styling */
.article-wrapper {
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 1300px;
    margin: 5rem auto 0;
    z-index: 10;
}

.article-img-wrapper {
    height: 500px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: 3rem 0 0;
}

.article-img-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article-title {
    font-size: 2rem;
}

.article-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
    color: rgba(214, 214, 212, 0.5);
    padding: 1rem;
}

.article-content-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(214, 214, 212);
    border: 2px solid rgba(214, 214, 212, 0.3);
    border-radius: 20px;
    min-height: 500px;
    padding: 1rem 2rem;
}

.article-suggestions-title {
    position: relative;
    z-index: 10;
    color: rgba(214, 214, 212);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0;
}

.suggestions-wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 10px;
    width: 80%;
    max-width: 1300px;
    margin: 2rem auto 0;
}

.suggestion-wrapper {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(214, 214, 212);
    width: calc(100%/3);
    border: 2px solid rgba(214, 214, 212, 0.3);
    border-radius: 20px;
    padding: 1rem;
    transition: .25s ease-in-out;
}

.suggestion-item {
    height: 100%;
    width: 100%;
}

.suggestion-wrapper:hover {
    border: 2px solid rgba(214, 214, 212, 0.7);
    text-decoration: none;
}

.suggestion-wrapper:hover .suggestion-img-wrapper > img {
    transform: scale(1.1);
}

.suggestion-img-wrapper {
    height: 40%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.suggestion-img-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .25s ease-in-out;
}

/* FOOTER STYLING */
.footer {
    background-color: #2f5e09;
    padding: 5rem;
}


/* Utility Classes */
.back-btn-link, .back-btn-link:hover {
    text-decoration: none;
}

.go-back-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    background-color: #000;
    color: #d6d6d4;
    border: 2px solid rgba(214, 214, 212, 0.4);
    border-radius: 20px;
    padding: .25rem .75rem;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.go-back-btn:hover {
    background-color: #5c7a4d;
    color: #000;
    border: 2px solid #000;
}

.arrow-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 100%;
    overflow: hidden;
}

.back-arrow {
    position: relative;
    right: 0;
    transition: .25s ease-in-out;
}

.back-arrow::after {
    content: 'â†';
    position: absolute;
    top: 0;
    right: -24px;
    transition: .25s ease-in-out;
}

.go-back-btn:hover .back-arrow {
    right: 24px;
}

.spacer {
    width: 100%;
    height: 200px;
}

.accent-color {
    background: linear-gradient(135deg,rgba(15, 105, 62, 1) 0%, rgba(57, 255, 20, 1) 30%, rgba(185, 224, 126, 1) 65%, rgba(47, 145, 42, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass3d-green {
  --filter-glass3d: blur(5px) brightness(.8) saturate(3);
  --color-glass3d: hsla(197, 48%, 88%, 0.1);
  --noise-glass3d: url("https://www.transparenttextures.com/patterns/egg-shell.png");

  position: relative;
  z-index: 4;
  box-shadow:
    0 0 0.75px hsl(205 20% 10% / 0.2),
    0.7px 0.8px 1.2px -0.4px hsl(205 20% 10% / 0.1),
    1.3px 1.5px 2.2px -0.8px hsl(205 20% 10% / 0.1),
    2.3px 2.6px 3.9px -1.2px hsl(205 20% 10% / 0.1),
    3.9px 4.4px 6.6px -1.7px hsl(205 20% 10% / 0.1),
    6.5px 7.2px 10.9px -2.1px hsl(205 20% 10% / 0.1),
    8px 9px 14px -2.5px hsl(205 20% 10% / 0.2);
}

.glass3d-green::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  z-index: 3;

  -webkit-backdrop-filter: var(--filter-glass3d);
  backdrop-filter: var(--filter-glass3d);
  background-color: var(--color-glass3d);
  background-image: var(--noise-glass3d);
  background-size: 100px;
  background-repeat: repeat;
}

.glass3d-green::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  z-index: 5;

  box-shadow:
    inset 2px 2px 1px -3px hsl(205 20% 90% / 0.8),
    inset 4px 4px 2px -6px hsl(205 20% 90% / 0.3),
    inset 1.5px 1.5px 1.5px -0.75px hsl(205 20% 90% / 0.15),
    inset 1.5px 1.5px 0.25px hsl(205 20% 90% / 0.03),
    inset 0 0 0.25px 0.5px hsl(205 20% 90% / 0.03);
}

.glass3d-green > * {
  position: relative;
  z-index: 6;
}


.btn {
    width: 200px;
    padding: 1.5rem 0;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #e3dbdb;
    cursor: pointer;
}

.main-btn {
    background: rgba(33, 113, 14, 0.2);
}

.main-btn:hover {
    background-color: #25531b;
}

.accent-btn {
    background-color: rgba(48, 48, 48, 0.2);
}

.accent-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.subtitle {
    font-family: "Google Sans", sans-serif;
    font-size: 4rem;
    letter-spacing: 2px;
    text-align: start;
}

.subtext {
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: start;
    opacity: .5;
}

.fullscreen {
    height: 100%;
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.h-30 {
    height: 30%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;
}

.p-3 {
    padding: .75rem
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-5 {
    padding-bottom: 1.5rem;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}


a:hover {
    text-decoration: underline;
}


.center {
    text-align: center;
}

.popup {
    position: absolute;
    background-color: #888888;
}

.overflow-y {
    overflow-y: auto;
    scrollbar-color: #39ff14 transparent;
    scrollbar-width: thin;
}

.overflow-x {
    overflow-x: auto;
    scrollbar-color: #39ff14 transparent;
    scrollbar-width: thin;
}

.white{
    color: #39ff14;
}

.m-center {
    margin: 0 auto;
}

.w-full {
    width: 100%;
}

.w-90 {
    width: 90%
}

.w-50 {
    width: 50%;
}

.border-bottom {
    border-bottom: 2px solid #39ff14;
}

.border-bottom-2 {
    border-bottom: 1px solid #d6d6d4;
}

.pointer {
    cursor: pointer;
}

.z-100 {
    z-index: 100;
}

.sticky {
    position: sticky;
    top: 50px;
}

.hidden {
    visibility: hidden;
}