* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
}

/* dashboard */
#crt-overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 999999;
    mix-blend-mode: overlay;
    background: repeating-linear-gradient(
       to bottom,
       rgba(57,255,20,.5) 0,
       rgba(0,0,0,.1) 1px,
       transparent 4px
    );
}

#dashboard {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    font-family: "Doto", monospace;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(57, 255, 20, 0.5);
    height: 100%;
    width: 100%;
}

#react-dashboard {
    display: flex;
    padding: 1rem 0;
}

.sim-controls {
    margin: 0 auto;
}

.sim-title {
    font-family: "Orbitron", monospace;
    color: #39ff14;
    font-size: 2rem;
    text-align: center;
}

.sim-control {
    font-family: "Orbitron", monospace;
    color: #39ff14;
    background-color: transparent;
    border: 2px solid #39ff14;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5),
    inset 0 0 5px rgba(57, 255, 20, 0.5);
    padding: .5rem 1rem;
    cursor: pointer;
}

.sim-control:hover {
    background-color: rgba(57, 255, 20, 0.5);
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.5),
    inset 0 0 8px rgba(57, 255, 20, 0.5);
    transition: 1s;
}

.siem-lab-label {
    position: relative;
    font-family: "Orbitron", monospace;
    font-weight: 900;
    color: rgba(57, 255, 20, 0.8);
    writing-mode: sideways-lr;
    text-align: end;
    padding: 1rem .4rem 1rem .25rem;
    border: 2px solid #39ff14;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5),
    inset 0 0 5px rgba(57, 255, 20, 0.5);
}

.siem-lab-content {
    border: 2px solid #39ff14;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5),
    inset 0 0 5px rgba(57, 255, 20, 0.5);
    width: 100%;
    padding: 1rem;
    z-index: 1;
}

#routing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.siem-lab-control {
    position: relative;
    right: 2px;
    writing-mode: sideways-rl;
    background-color: #1a1a1a;
    font-family: "Orbitron", monospace;
    color: #39ff14;
    border-top: 2px solid #39ff14;
    border-bottom: 2px solid #39ff14;
    border-right: 2px solid #39ff14;
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    z-index: 0;
}

.siem-lab-control::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 7px;
    background: #1a1a1a;
    z-index: 10;
}

.siem-lab-control::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 0;
    right: -2px;
    border-radius: 0 12px 12px 0;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5);
    pointer-events: none;
    z-index: -1;
}

.siem-lab-control.active {
    right: 2px;
    z-index: 20;
}

.siem-lab-exit {
    position: relative;
    left: 4px;
    writing-mode: sideways-rl;
    background-color: transparent;
    font-family: "Orbitron", monospace;
    color: #39ff14;
    border: 2px solid #39ff14;
    border-radius: 10px;
}


/* SIEM  */
.siem-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.visuals-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.graph-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.chart-title {
    font-family: "Orbitron", monospace;
    color: #39ff14;
    font-size: 1rem;
}

.log-window {
    padding: 0 .5rem;
    height: 100%;
    width: 100%;
    border: 2px solid #39ff14;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5),
    inset 0 0 5px rgba(57, 255, 20, 0.5);
}

.side-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 25%;
}

.notification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    background-color: rgba(57, 255, 20, 0.3);
    border: 2px solid #39ff14;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5),
    inset 0 0 5px rgba(57, 255, 20, 0.5);
}



/* Depreciated styling */

#applications {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.application-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 15%;
    width: 5rem;
    padding: 1rem;
}

.application-container:hover {
    background-color: rgba(202, 202, 202, 0.2);
}

.application-container > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #888888;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1;
}

.application {
    background-color: #f9f9f9;
    border-radius: 2px;
    height: 20%;
    width: 20%;
}

.application-container > p {
    text-align: center;
    color: #888888;
    margin: 0;
}

.app-window {
    position: relative;
    display: flex;
    background: #ededed;
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    overflow: hidden;
}

.window {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.window-controls {
    display: flex;
    justify-content: end;
    gap: 10px;
    height: 30px;
    width: 100%;
    background-color: #1a1a1a;
}

.minimize-control, .fullscreen-control, .close-control {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #888888;
    cursor: pointer;
}

.window-content {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* Taskbar */

#taskbar {
    display: flex;
    justify-content: space-between;
    background-color: #888888;
    width: 100%;
    height: 5%;
    z-index: 1000;
}

.taskbar-application {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(202, 202, 202, 0.5);
    padding: 0 1rem;
    max-width: 100px;
}

/* Taskbar > Start Button */

#start-btn {
    height: 100%;
    aspect-ratio: 1/1;
    padding: .25rem;
}

#start-btn:hover {
    background-color: rgba(202, 202, 202, 0.5);
}

#start-btn > div {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Taskbar > Search Bar */
#searchbar {
    height: 100%;
    aspect-ratio: 5/1;
    padding: .5rem;
}

#searchbar > div {
    height: 100%;
    width: 100%;
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 20px;
}

#searchbar > div:hover {
    background-color: rgba(204, 204, 204, 0.6);
}

/* Taskbar > Application Icons */

#browser-icon, #files-icon {
    height: 100%;
    aspect-ratio: 1/1;
    padding: .5rem;
}

#browser-icon > div, #files-icon > div {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#browser-icon:hover, #files-icon:hover {
    background-color: rgba(204, 204, 204, 0.6);
}

.browser-window {
    height: 100%;
    width: 100%;
}

/* Taskbar > Indicators */
#accessibility-controls:hover {
    background-color: rgba(204, 204, 204, 0.6);
}

#wifi-indicator, #battery-indicator {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Taskbar > Data and Time */
#date-and-time {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#date-and-time > p {
    color: rgba(204, 204, 204, 0.9);
    margin: 0;
}

#chatbot-indicator {
    height: 100%;
    aspect-ratio: 1/1;
    padding: .5rem;
}

#chatbot-indicator:hover {
    background-color: rgba(202, 202, 202, 0.5);
}

#chatbot-indicator > div {
    border: 3px solid #f9f9f9;
    border-radius: 20px;
    height: 100%;
    aspect-ratio: 1/1;
}

/* Utility Classes */
.fullscreen {
    height: 100%;
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.flex {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

.center {
    justify-content: center;
}

.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;
}

.p-3 {
    padding: .75rem
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h1 {
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.center {
    text-align: center;
}

.popup {
    position: absolute;
    background-color: #888888;
}

.overflow-y {
    overflow-y: auto;
    scrollbar-color: #39ff14 transparent;
    scrollbar-width: thin;
}

.white{
    color: #39ff14;
}